apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: student-app-config
spec:
  tracing:
    samplingRate: "1"
    zipkin:
      endpointAddress: "http://zipkin:9411/api/v2/spans"
  metrics:
    enabled: true
  logging:
    apiLogging:
      enabled: true
      obfuscateURLs: false
  accessControl:
    defaultAction: allow
    trustDomain: "student-app"
  features:
    - name: ServiceInvocation
      enabled: true
    - name: PubSub
      enabled: true
    - name: StateStore
      enabled: true
